<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>My Portfolio</title>
    </head>
    <body>
        <h1>Hi, I'm Seth</h1>
        <h2>Welcom to My Portfolio</h2>
        <div id="projects">
            <a href="/projects.html">Projects</a>
            <div class="description">
                I have a variety of projects both personal and contract.  They are built using Python, Swift, and JavaScript.
            </div>
        </div>
        <div id="about">
            <a href="/about.html">About Me</a>
            <div class="description">
                A little about my background and why I do what I do.
            </div>
        </div>
        <div id="testimonials">
            <a href="/testimonials.html">Testimonials</a>
            <div class="description">
                What my clients and mentors have to say about my projects and work ethic.
            </div>
        </div>
    </body>
</html>