<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's Up</title>
    {% load staticfiles %}
	  <link rel="stylesheet" href="{% static 'appointments/css/index_style.css' %}">

</head>
<body>
    <div id="header">
        <div id="welcome">
            <h2>Hello, {{ user.name }}!</h2>
        </div>
        <div id="navigation">
            <a href="{% url 'appointments:logout' %}"class="headurl">Logout</a>
        </div>
        <hr>
    </div>
    Here are your appointments for {{ today|date:"F j, Y" }} :</br>
    <table>
        <tr class="header">
            <th>Tasks</th>
            <th>Time</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for task in today_task %}
        <tr>
            <td>{{ task.task }}</td>
            <td>{{ task.apt_time }}</td>
            <td>{{ task.status }}</td>
            <td><a href='{% url "appointments:update" id=task.id %}'> Edit</a>
            <a href='{% url "appointments:delete_task" id=task.id %}'> Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>

    Your Other appointments:</br>
    <table>
        <tr class="header">
            <th>Tasks</th>
            <th>Date</th>
            <th>Time</th>
        </tr>
        {% for task in future_tasks %}
        <tr>
            <td>{{ task.task }}</td>
            <td>{{ task.apt_date|date:"F j" }}</td>
            <td>{{ task.apt_time|time:"H:i" }}</td>
        </tr>
        {% endfor %}
    </table>
    
    Add an Appointment:
    <form action="create" method="POST">
        {% csrf_token %}
        <label for="date">Date:
            <input type="date" name="date"/>
        </label></br>
        <label for="time">Time:
            <input type="time" name="time"/>
        </label></br>
        <label for="task">Task:
            <input type="text" name="task"/>
        </label></br>
        <input type="submit" name="submit" value="Add">
    </form>
    {% if messages %}
        {% for message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
</body>
</html>