<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Update Appointment</title>
    {% load staticfiles %}
	  <link rel="stylesheet" href="{% static 'appointments/css/index_style.css' %}">

</head>
<body>
    <div id="header">
        <div id="welcome">
        </div>
        <div id="navigation">
            <a href="{% url 'appointments:index' %}"class="headurl">Dashboard</a>
            <a href="{% url 'appointments:logout' %}"class="headurl">Logout</a>
        </div>
        <hr>
    </div>
    <form action="{% url 'appointments:update_task' id=task.id %}" method="POST">
        {% csrf_token %}
        <label for="tasks">
            Task: 
            <input type="text" name="task" value={{ task.task }}>
        </label></br>
        <label for="status">
            Status: 
            <!--<input type="text" name="product" value={{ task.status }}>-->
            <select name="status" value={{ task.status }}>
                <option value="Pending">Pending</option>
                <option value="Done">Done</option>
                <option value="Missing">Missing</option>
            </select>
        </label></br>
        <label for="date">Date:
            <input type="date" id="date" name="date" value={{ date }}> {{ date }}
        </label></br>
        <label for="time">Time:
            <input type="time" name="time" value={{ time }}>{{ task.apt_time|time:"H:i" }}
        </label></br>
        <input type="hidden" name="id" value={{task.id}}>
        <input type="submit" name="submit" value="Update">
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    </form>
    
</body>
</html>