<html>
    <head>
        <Title>Dojo Survey</Title>
    </head>
    <body>
        <form action='/result' method='post'>
            Your Name: <input type='text' name='name'></br>
            Dojo Location: <select  name='location'>
                <option value="Seattle">Seattle</option>
                <optoin value="Los Angeles">Los Angeles</optoin>
                <option value="Dallas">Dallas</option>
                <option value="Silicon Valley">Silicon Valley</option>
                <option value="Washington DC">Washington DC</option>
                <option value="Chicago">Chicago</option>
            </select></br>
            Favorite Language: <select name='language'>
                <option value='Python'>Python</option>
                <option value='JavaScript'>JavaScript</option>
                <option value='Ruby on Rails'>Ruby on Rails</option>
                <option value='MEAN'>MEAN</option>
                <option value='iOS/Swift'>iOS/Swift</option>
                <option value='C#'>C#</option>
            </select></br>
            Comment (optional):</br>
            <textarea rows='5' cols='60' name='comments'></textarea></br>
            <input type='submit' name="" value='Submit'>
        </form>
    </body>
</html>