<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Login and Registration</title>
        {% load staticfiles %}
        <link rel="stylesheet" href="{% static 'logreg/css/success_style.css' %}">

    </head>
    <body>
        <h1>Success!  Welcome, {{ request.session.name }}</h1>
        <p>{{ request.session.message }}</p>
    </body>
</html>