*{
    /*border: thin dotted red;*/
}
form{
    /*border: thin solid black;*/
    width: 400px;
    margin: auto;
    padding: 10px;
}
h6{
    text-decoration: underline;
}
#subtmit{
    margin-left: auto;
    color: red;
}
input{
    /*width: 150px;*/
}
select{
    width: 123px;
}
label{
    width: 130px;
    display: inline-block;
    /*border: thin solid black;*/
}
fieldset{
  display: inline-block;
  vertical-align: top;
  width: 400px;
  /*height: 150px;*/
}