<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Username Validator</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/success.css' %}">

</head>
<body>
    {% csrf_token %}
    {% if request.session.user %}
        <h1>The username you entered ({{ request.session.user }}) is valid.  Thank you!</h1>
    {% endif %}
    <h3>Usernames entered</h3>
    <table>
        {% for username in usernames %}
        <tr>
            <td>{{ username.username }}</td>
            <td>{{ username.created_at }}</td>
            <td><a href="remove/{{ username.id }}">delete</a></td>
        </tr>
        {% endfor %}
    </table>
    
</body>
</html>