*{
    /*border: thin dotted red;*/
}
.post{
    width: 150px;
    height: 170px;
    overflow: scroll;
    border: thin solid black;
    margin: auto;
    display: inline-block;
    vertical-align: top;
    padding: 5px;
}
label{
  display: block;
}
fieldset{
  /*display: inline-block;
  vertical-align: top;*/
  width: 275px;
  height: 150px;
}
