table{
    border: thin solid black;
    border-collapse: collapse;
}
th{
    border-right: solid thin black;
    border-left: solid thin black;
    padding: 3px;
}
td{
    border-right: solid thin black;
    border-left: solid thin black;
    padding: 3px;
}