<div id="container">
  <p>Hi {{user.username}}!</p>
  <p>Choose an answer for each of the questions and submit the test once done.</p>
  <p>Good luck!</p>

  <form *ngIf="all_questions.length>0" #formData="ngForm" (submit)="submit()">
    <div class="question" *ngFor="let trivia of trivia_questions, let idx = index">
      <label>{{idx+1}}. {{ trivia.question }} </label>
      <p *ngFor="let answer of trivia.answers">
        <input type="radio" name="guess{{idx}}" required [(ngModel)]="guesses[idx]" value="{{answer}}">{{ answer }}
        </p>
      
    </div>
    <button (click)="cancel()" class="cancel">Cancel</button>
    <input type="submit" name="submit" value="Submit" [disabled]="!formData.form.valid">
  </form>

</div>