*{
    /*border: thin dotted red;*/
}

.likes{
  font-style: italic
}
#submit{
  margin-right: 100px;
}
h1{
  display: inline-block;
  /*vertical-align: top;*/
  margin-right: 100px;
}
a{
  display: inline-block;
  /*vertical-align: top;*/
}