<div id="container">

  <div class="message" *ngIf="message">
    <h2>{{ message }}</h2>
  </div>

  <div id="play">
    <button id="playBtn" (click)="lets_play()">Play!</button>
    <p>Click the button above to start the trivia game.</p>
  </div>

<p>Search : <input type="text" name="search" value="" [(ngModel)]="search"></p>

<table>
  <tr class="header">
    <th>Name</th>
    <th>Score</th>
    <th>Percentage</th>

  </tr>
  <tr *ngFor="let score of scores | filter: search ">
    <td>{{ score.username }}</td>
    <td>{{ score.score }}/{{ score.outOf }}</td>
    <td>{{ score.percentage }}%</td>
  </tr>
</table>
</div>