*{
    /*border: thin dotted red;*/
}
#container{
    padding: 20px;
    text-align: center;
}
#play{
    border: thin solid black;
    background-color: silver;
    margin: auto;
    text-align: center;
    width: 33%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 30px;
}
#playBtn{
    background-color: blue;
    color: white;
    font-size: 16px;
    padding: 5px 20px;
}

table{
    border: thin solid black;
    border-collapse: collapse;
    margin-top: 20px;
    margin: auto;
    width: 50%;
}
th{
    border-right: solid thin black;
    border-left: solid thin black;
    padding: 3px;
}
td{
    border-right: solid thin black;
    border-left: solid thin black;
    padding: 3px;
}
.header{
    background-color: silver;
}
tr:nth-child(even) {background-color: #f2f2f2}
ul{
    list-style:none;
}

.message{
    background-color: green;
    color: white;
    border: thin solid black;
    /*padding: 5px;*/
    width: 90%;
    text-align: center;
}