<!DOCTYPE html>
<html lang="en">
<head>
    <!--<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">-->
    <title>Random Word Generator</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'word_app/css/word_style.css' %}">
</head>
<body>
    Random Word(attempt # {{ request.session.attempt }}):
    <div id="wordbox">
        <h1>{{ request.session.random_word }}</h1>
    </div>
    <form action="generate" method='POST'>
        {% csrf_token %}
        <input type="submit" name="generate" value="Generate">
    </form>
    
</body>
</html>