<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/course_style.css' %}">

    <title>Add a student to all bootcamp courses</title>
</head>
<body>
    <form action="/create" method="POST">
        {% csrf_token %}
        <h3>Add a new course</h3>
        <p><label>Name:</label> <input type="text" name="name" class="text"/></p>
        <p><label>Description:</label> <textarea rows='3' cols='50' name='description' class="text"></textarea></p>
        <div class='button'><input type='submit' name='submit' value='Add'/></div>
    </form>
    <h3>Courses</h3>
    <table>
        <tr class="header">
            <th>Course Name</th>
            <th>Description</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
        {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.description }}</td>
                <td>{{ course.created_at }}</td>
                <td><a href="destroy/{{ course.id }}">remove</a></td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>