<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'secrets/css/secrets_style.css' %}">
    <title>Dojo Secrets</title>
</head>
<body>
    <h1>Hello, {{ user.first_name }}!</h1>
    <form action='{% url 'secrets:process' %}' method='POST'>
        {% csrf_token %}
        <textarea rows='5' cols='60' name='secret' placeholder='Your secret here...'></textarea></br>
        <input type='submit' name='submit' id="submit" value='Post'>
        <a href='{% url "secrets:popular" %}'>Most Popular Secrets</a>
    </form>
    <h2>Recent Secrets...</h2>
    {% csrf_token %}
    {% if secrets %}
        {% for secret in secrets %}
            <p>{{ secret.secret }} ({{ secret.created_at|timesince }}) <span class='likes'>{{ secret.total_likes }} likes</span>
            {% if secret.author.id == request.session.user_id %}
                <strong>You posted this </strong><a href='{% url "secrets:delete_secret" id=secret.id return_to="secrets" %}'> Remove</a>
                
            {% else %}
                {% if user in secret.likes.all %}
                    <strong>You liked this</strong>
                {% else %}
                    <a href='{% url "secrets:like" id=secret.id return_to="secrets" %}'>Like</a>
                {% endif %}
            {% endif %}
            </p>
        {% endfor %}
    {% endif %}
</body>
</html>